body { margin: 0; font-family: consolas;}
#grid-bg { background: url(../img/background.jpg); }
.agent:not(.resolved) { border: 3px dashed green; }
.agent.broken { border: 3px dashed red; }
.agent.selected { border: 3px solid blue; }